.listPosts {
  margin: 30px;
}

// Блок отправки поста ==============================
.newPost {
  margin-top: 60px;
  margin-left: 30px;
}

.lable {
  font-size: 15px;
}

.textarea {
  width: 400px;
  height: 100px;
}

.btn {
  display: block;
  height: 40px;
  width: 120px;
}